body  {
  background-color: #27540C;
  padding: 0;
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4  {
  float: left;
  font-weight: 600;
  font-size: 18px;
  line-height: 45px;
  color: #fff;
  margin: 0;
  margin-left: 10px;
}

#topNavigationParent, #contentParent  {
  float: left;
  width: 100%;
}

#topNavigation  {
  max-width: 1290px;
  width: calc(100% - 50px);
  margin: 0 auto;
  margin-top: 30px;
}

#logotype {
  float: left;
}

#logotype img, #kontakt img {
  float: left;
  height: 45px;
  width: 45px;
}

#kontakt  {
  float: right;
}

#kontakt img {
  height: auto;
  width: 40px;
  margin-top: 4px;
}

#kontakt a  {
  float: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
  color: #bdbdbd;
  text-decoration: none;
  margin-left: 10px;
}

#content  {
  max-width: 1000px;
  width: calc(100% - 50px);
  margin: 0 auto;
  height: 100px;
  margin-top: 35px;
  text-align: center;
}

#arkimedesLogo  {
  height: 133px;
}

h1  {
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
  color: rgba(189, 189, 189, 0.8);
  margin-top: 60px;
  margin-bottom: 18px;
}

h2  {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
  margin: 0 auto;
  max-width: 800px;
}

#getStartedParent {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 96px;
}

#getStarted {
  float: left;
  margin: 0 auto;
  background: #193806;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.35);
  border-radius: 80px;
  width: 350px;
  height: 54px;
  font-weight: 600;
  font-size: 21px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

#bannerParent {
  display: flex;
  flex-direction: column;
  gap: 66px;
}

#bannerParent img {
  float: left;
  width: 100%;
  aspect-ratio: 1.5;
  filter: drop-shadow(0px 0px 78px rgba(0, 0, 0, 0.35));
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
  /* margin-top: 100px; */
}
